# mac files
.DS_Store

# javascript and css build files
bundle.js
bundle.min.js

styles.css
styles.css.map

# dot files
.idea/
.sass-cache/

# full directories
client/node_modules/
client/.sass-cache/
__examples/
server/target/
media/
