$default-margin      : 16px;

$color-dark          : #2F363D;
$color-light         : #F4F4F4;
$color-shadow        : #3B3B44;
$color-nav-border    : #DE887E;

$nav-height          : 60px;

$img-primary         : "img/tile-body.png";
$img-secondary       : "img/tile-navigation.png";




@mixin shadow($o1, $o2, $o3, $o4, $c) {
  box-shadow : $o1 $o2 $o3 $o4 $c;
}

@mixin drop-shadow() {
  @include shadow(0px, 0px, 15px, 0px, $color-shadow);
}



@mixin background-primary() {
  background : url($img-primary);
}

@mixin background-secondary() {
  background : url($img-secondary);
}

@mixin bar-item() {
  @include background-secondary;
  @include drop-shadow;
}

@mixin img-gradient($c1, $c2, $background) {
  background : linear-gradient($c1, $c2), $background;
}

@mixin scale($x) {
  transform         : scale($x, $x);
  -ms-transform     : scale($x, $x);
  -webkit-transform : scale($x, $x);
}







body {
  @include background-primary;
  padding-top : $nav-height;
}

html {
  height : 100vh;
}

a {
  color : $color-dark;
}






.active-media-item {
  @include img-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.1),
                  url($img-secondary) !important);
}

.audio-info-bar {
  padding-top : $default-margin / 2.0;
}

.audio-progress-bar {
  width : 100%
}

.body-bottom-adjust {
	margin-bottom : $nav-height;
}

.default-margin {
	margin : $default-margin;
}

.default-margin-vertical {
	margin-top    : $default-margin;
	margin-bottom : $default-margin;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.form-control {
  width: auto;
  //@include background-secondary
}

.inline {
	display        : inline-block;
	vertical-align : middle;
}

.light-text {
	color : $color-light;
}

.list-group-item:hover {
    @include background-secondary;
}

.media-controller {
  @include bar-item;
}

.navbar-default {
    border-color : $color-nav-border;
}

.navbar-inner {
  @include bar-item;
}

.noselect {
	-webkit-user-select : none; /* Chrome/Safari */
	-moz-user-select    : none; /* Firefox */
	-ms-user-select     : none; /* IE10+ */
	user-select         : none;
}

.selected-media-item {
  @include img-gradient(
                  rgba(0, 0, 0, 0.025),
                  rgba(0, 0, 0, 0.025),
                  url($img-secondary));
}

.shrink-35 {
	@include scale(0.35);
}

.shrink-50 {
  @include scale(0.50);
}

.shrink-65 {
  @include scale(0.65);
}

.small-text {
	font-size : 75%;
}

