$default-margin      : 16px;

$color-dark          : #2F363D;
$color-light         : #F4F4F4;
$color-shadow        : #3B3B44;
$color-nav-border    : #DE887E;
$color-overlay       : rgba(51, 51, 51, 0.97);

$nav-height          : 60px;

$img-primary         : "img/tile-body.png";
$img-secondary       : "img/tile-navigation.png";




@mixin shadow($o1, $o2, $o3, $o4, $c) {
  box-shadow : $o1 $o2 $o3 $o4 $c;
}

@mixin drop-shadow() {
  @include shadow(0px, 0px, 15px, 0px, $color-shadow);
}



@mixin background-primary() {
  background : url($img-primary);
}

@mixin background-secondary() {
  background : url($img-secondary);
}

@mixin bar-item() {
  @include background-secondary;
  @include drop-shadow;
}

@mixin full-screen() {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@mixin img-gradient($c1, $c2, $background) {
  background : linear-gradient($c1, $c2), $background;
}

@mixin nav-bar-adjust {
  padding-top : $nav-height;
}

@mixin scale($x) {
  transform         : scale($x, $x);
  -ms-transform     : scale($x, $x);
  -webkit-transform : scale($x, $x);
}







body {
  @include background-primary;
  @include nav-bar-adjust;
}

html {
  height : 100vh;
}

a {
  color : $color-dark;
}






.active-media-item {
  @include img-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.1),
                  url($img-secondary) !important);
}

.audio-info-bar {
  padding-top : $default-margin / 2.0;
}

.audio-progress-bar {
  width : 100%
}

.body-bottom-adjust {
	margin-bottom : $nav-height;
}

.default-margin {
	margin : $default-margin;
}

.default-margin-vertical {
	margin-top    : $default-margin;
	margin-bottom : $default-margin;
}

.exit-button {
  float: right;
  margin: $default-margin;
  color: #fff;
  font-size: 1.5em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.form-control {
  width: auto;
}

.image {
  @include nav-bar-adjust;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  overflow: auto;
  position: fixed;
}

.image-viewport {
  @include nav-bar-adjust;
  @include full-screen;
  background: $color-overlay;
}

.inline {
	display        : inline-block;
	vertical-align : middle;
}

.light-text {
	color : $color-light;
}

.list-group-item:hover {
    @include background-secondary;
}

.loader {
  left: 50%;
  top: 50%;
  position: absolute;
}

.media-controller {
  @include bar-item;
}

.navbar-default {
    border-color : $color-nav-border;
}

.navbar-inner {
  @include bar-item;
}

.noselect {
	-webkit-user-select : none; /* Chrome/Safari */
	-moz-user-select    : none; /* Firefox */
	-ms-user-select     : none; /* IE10+ */
	user-select         : none;
}

.selected-media-item {
  @include img-gradient(
                  rgba(0, 0, 0, 0.025),
                  rgba(0, 0, 0, 0.025),
                  url($img-secondary));
}

.shrink-35 {
	@include scale(0.35);
}

.shrink-50 {
  @include scale(0.50);
}

.shrink-65 {
  @include scale(0.65);
}

.small-text {
	font-size : 75%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


