$default-margin      : 16px;

$color-dark          : #2F363D;
$color-light         : #F4F4F4;
$color-shadow        : #000000;
$color-nav-border    : #DE887E;
$color-overlay       : rgba(51, 51, 51, 0.97);
$color-nav-clickable : #82B1F7;
$color-nav           : #989898;

$nav-height          : 60px;

$img-primary         : "img/tile-body.png";
$img-secondary       : "img/tile-navigation.png";




@mixin shadow($o1, $o2, $o3, $o4, $c) {
  box-shadow : $o1 $o2 $o3 $o4 $c;
}

@mixin drop-shadow() {
  @include shadow(0px, 0px, 15px, 0px, $color-shadow);
}



@mixin background-primary() {
  background : url($img-primary);
}

@mixin background-secondary() {
  background : url($img-secondary);
}

@mixin bar-item() {
  @include background-secondary;
  @include drop-shadow;
}

@mixin full-screen() {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@mixin img-gradient($c1, $c2, $background) {
  background : linear-gradient($c1, $c2), $background;
}

@mixin nav-bar-adjust {
  padding-top : $nav-height;
}

@mixin scale($x) {
  transform         : scale($x, $x);
  -ms-transform     : scale($x, $x);
  -webkit-transform : scale($x, $x);
}







body {
  @include background-primary;
  @include nav-bar-adjust;
}

html {
  height : 100vh;
}

a {
  cursor: default;
  color : $color-dark;
}






.active-media-item {
  @include img-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.1),
                  url($img-secondary) !important);
}

.audio-info-bar {
  padding-top : $default-margin / 2.0;
}

.audio-progress-bar {
  width : 80%
}

.audio-time {
  max-width: 10%;
}

.body-bottom-adjust {
  margin-bottom : $nav-height;
}

.default-margin {
  margin : $default-margin;
}

.default-margin-vertical {
  margin-top    : $default-margin;
  margin-bottom : $default-margin;
}

.exit-button {
  float: right;
  margin: $default-margin;
  color: #fff;
  font-size: 1.5em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.form-control {
  width: auto;
}

.inline {
  display        : inline-block;
  vertical-align : middle;
}

.list-group-item:hover {
  @include background-secondary;
}

.loader {
  left: 50%;
  top: 50%;
  position: absolute;
}

.media-controller {
  @include bar-item;
}

.navbar-default {
  border-color : $color-nav-border;
}

.navbar-inner {
  @include bar-item;
}



@mixin nav-location-item-base() {
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  //padding: 0 4px 0 4px;
}

.nav-location-control-container {
  @include nav-location-item-base;
  padding: 0 0 0 0;
}

.nav-location-control-clickable {
  @include nav-location-item-base;
  color: $color-nav-clickable;
}

.nav-location-control-clickable:hover {
  text-decoration: underline;
}

.nav-location-control {
  @include nav-location-item-base;
  color: $color-nav;
}

.nav-location-chevron {
  color: $color-nav;
}



.noselect {
  -webkit-user-select : none; /* Chrome/Safari */
  -moz-user-select    : none; /* Firefox */
  -ms-user-select     : none; /* IE10+ */
  user-select         : none;
}

.selected-media-item {
  @include img-gradient(
                  rgba(0, 0, 0, 0.025),
                  rgba(0, 0, 0, 0.025),
                  url($img-secondary));
}

.shrink {
  @include scale(0.35);
}

.small-text {
  font-size : 75%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}



.preview {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  overflow: auto;
  position: fixed;
}

.preview-image {
  padding-top: $nav-height;
}

.preview-pdf {
  height: 80%;
  width: 80%;
}

.preview-plain-text {
  white-space: pre-wrap;
  border-radius: 1px;
  padding: 8px;
  background: $color-light;
  height: 80%;
  width: 80%;
  font-family: 'DejaVu Sans Mono', monospace;
}

.preview-viewport-navigation {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);

  margin: $default-margin;
  color: white;
}

.preview-viewport-filename {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: $default-margin;
  color: white;
}


.preview-viewport {
  @include full-screen;
  background: $color-overlay;
  z-index: 1000000;
}

.no-preview-available {
  font-size: 40em;
  color: $color-nav;
  height: 80%;
  width: 80%;
}



video {
  max-width:90%;
  max-height:90%;
}

/* static bootstrap glyphicon fix */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

